@font-face {
    font-family: "DM Sans";
    src: url(../assets/fonts/DMSans-VariableFont_opsz_wght.ttf)
        format("truetype");
    font-style: normal;
    font-weight: 400 500;
}

@font-face {
    font-family: "DM Sans";
    src: url(../assets/fonts/DMSans-Italic-VariableFont_opsz_wght.ttf)
        format("truetype");
    font-style: italic;
    font-weight: 400 500;
}

:root {
    /* Colors */
    --color-purple-100: #dbd1fc;
    --color-purple-500: #7551dc;
    --color-yellow-100: #f9eee2;
    --color-yellow-500: #ffcc6a;
    --color-white: #fff;
    --color-black: #121212;
    --color-background: #f6f5f6;

    /* Spacing */
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-black);
    background-color: var(--color-background);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
p,
img {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    border: 1px solid red;
    display: grid;
}

h2 {
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    color: var(--color-black);
}

@media (min-width: 375px) {
    /* body {
        font-size: 20px;
    } */

    article {
        border-radius: 10px;
        display: grid;
        justify-items: center;
        /* text-align: center; */
    }

    .container {
        max-width: 375px;
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 32px 16px 40px;
    }

    .social-media {
        background-color: var(--color-purple-500);
        padding-block: var(--spacing-500);
        padding-inline: var(--spacing-400);

        h2 {
            font-size: 46px;
            font-weight: 500;
            line-height: 42px;
            letter-spacing: -0.84px;
            text-align: center;
            color: var(--color-white);
            margin-block-end: var(--spacing-300);

            span:first-of-type {
                color: var(--color-yellow-500);
            }

            span:last-of-type {
                font-style: italic;
            }
        }

        img {
            margin-block-end: var(--spacing-100);
            height: 32px;
        }

        p {
            color: var(--color-white);
        }
    }

    .accounts {
        background: var(--color-white);
        padding: var(--spacing-200);

        img {
            margin-block-end: var(--spacing-200);
        }

        h2 {
            font-size: 26px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -1.56px;
        }
    }

    .maintain {
        background-color: var(--color-yellow-500);
        padding: var(--spacing-200) var(--spacing-200) 0;
        justify-items: start;
        height: 216px;
        overflow-y: hidden;

        h2 {
            font-size: 26px;
            line-height: 24px;
            letter-spacing: -1.56px;
            margin-block-end: var(--spacing-200);
        }

        img {
            width: 208px;
        }
    }

    .schedule {
        background-color: var(--color-purple-100);
        gap: var(--spacing-300);
        padding: var(--spacing-400) 17.5px;
        text-align: center;

        h2 {
            line-height: 24px;
            letter-spacing: -1.56px;
            margin-inline: calc(var(--spacing-400) - 17.5px);
        }

        p {
            font-size: 18px;
            line-height: 20px;
            margin-inline: calc(var(--spacing-400) - 17.5px);
        }
    }

    .grow {
        background-color: var(--color-purple-500);
        padding: var(--spacing-300) 58px;
        gap: var(--spacing-500);
        text-align: center;
        justify-items: center;

        h2 {
            font-size: 32px;
            line-height: 28px;
            color: var(--color-white);
            letter-spacing: -1.92px;
        }
    }

    .percent-growth {
        background-color: var(--color-white);
        justify-items: start;
        padding: var(--spacing-300);

        h2 {
            margin-block-end: 15px;
            font-size: 46px;
            line-height: 42px;
            letter-spacing: -1.84px;
            
        }

        p {
            font-size: 18px;
            line-height: 20px;
            margin-block-end: 24px;
        }

        img {
            width: 60%;
        }
    }

    .create {
        background-color: var(--color-yellow-100);
        padding: var(--spacing-400);
        gap: var(--spacing-300);
        justify-items: start;

        h2 {
            font-size: 32px;
            line-height: 28px;
            letter-spacing: -1.92px;

            span {
                color: var(--color-purple-500);
                font-style: italic;
            }
        }

        img {
            width: 190px;
        }

    }

    .write {
        background-color: var(--color-yellow-500);
        justify-items: start;
        padding: var(--spacing-300);
        gap: var(--spacing-300);

        h2 {
            font-size: 32px;
            line-height: 28px;
            letter-spacing: -1.92px;
        }

        img {
            width: 204px;
        }
    }
}
