@font-face {
    font-family: "DM Sans";
    src: url(../assets/fonts/DMSans-VariableFont_opsz\wght.ttf)
        format("truetype");
    font-style: "normal";
    font-weight: 400;
}

@font-face {
    font-family: "DM Sans";
    src: url(../assets/fonts/DMSans-VariableFont_opsz\wght.ttf)
        format("truetype");
    font-style: "normal";
    font-weight: 500;
}
@font-face {
    font-family: "DM Sans";
    src: url(../assets/fonts/DMSans-Italic-VariableFont_opsz\wght.ttf)
        format("truetype");
    font-style: "italic";
    font-weight: 400;
}
@font-face {
    font-family: "DM Sans";
    src: url(../assets/fonts/DMSans-Italic-VariableFont_opsz\wght.ttf)
        format("truetype");
    font-style: "italic";
    font-weight: 500;
}

:root {
    /* Colors */
    --color-purple-100: #dbd1fc;
    --color-purple-500: #7551dc;
    --color-yellow-100: #f9eee2;
    --color-yellow-500: #ffcc6a;
    --color-white: #fff;
    --color-black: #121212;
    --color-background: #f6f5f6;
    
    /* Spacing */
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: var(--color-black);
    background-color: var(--color-background);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
p,
img {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    border: 1px solid red;
    display: grid;
}

@media (min-width: 375px) {
    /* body {
        font-size: 20px;
    } */

    article {
        border-radius: 10px;
        display: grid;
        justify-items: center;
        text-align: center;
    }
    .container {
        max-width: 375px;
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 32px 16px 40px;
    }

    .social-media {
        background-color: var(--color-purple-500);
        padding-block: var(--spacing-500);
        padding-inline: var(--spacing-400);

        h2 {
            font-size: 46px;
            font-weight: 500;
            line-height: 42px;
            letter-spacing: -1.84px;
            color: var(--color-white);
            margin-block-end: var(--spacing-300);

            span {
                color: var(--color-yellow-500);
            }
        }

        img {
            margin-block-end: var(--spacing-100);
            height: 32px;
        }

        p {
            color: var(--color-white);
        }

    }

    .accounts {
        background: var(--color-white);
    }
}
