@font-face {
    font-family: "DM Sans";
    src: url(../assets/fonts/DMSans-VariableFont_opsz_wght.ttf)
        format("truetype");
    font-style: normal;
    font-weight: 400 500;
}

@font-face {
    font-family: "DM Sans";
    src: url(../assets/fonts/DMSans-Italic-VariableFont_opsz_wght.ttf)
        format("truetype");
    font-style: italic;
    font-weight: 400 500;
}

:root {
    /* Colors */
    --color-purple-100: #dbd1fc;
    --color-purple-500: #7551dc;
    --color-yellow-100: #f9eee2;
    --color-yellow-500: #ffcc6a;
    --color-white: #fff;
    --color-black: #121212;
    --color-background: #f6f5f6;

    /* Spacing */
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;

    /* font-sizes */

    --text-preset-1: 62px;
    --text-preset-2: 40px;
    --text-preset-3: 32px;
    --text-preset-4: 18px;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 20px;
    color: var(--color-black);
    background-color: var(--color-background);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
p,
img {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h2 {
    font-weight: 500;
    font-stretch: normal;
}

@media (min-width: 375px) {
    .container {
        border: 1px solid red;
        max-width: 375px;
        gap: var(--spacing-400);
        padding: var(--spacing-400) var(--spacing-200) var(--spacing-500);
        grid-template-columns: 1fr;
        display: grid;
        place-content: center;
        grid-template-areas:
            "social-media"
            "accounts"
            "maintain"
            "schedule"
            "grow"
            "percent"
            "quicker"
            "write";
    }
    article {
        border-radius: 10px;
        display: grid;
        justify-items: center;
        text-wrap: pretty;
        overflow: hidden;

        h2 {
            font-weight: 500;
        }
    }

    .items-1 h2 {
        font-size: 46px;
        line-height: 42px;
        letter-spacing: -1.84px;
    }

    .items-2 h2 {
        font-size: 26px;
        line-height: 24px;
        letter-spacing: -1.56px;
    }

    .items-3 h2 {
        font-size: 32px;
        line-height: 28px;
        letter-spacing: -1.92px;
    }

    .social-media {
        background-color: var(--color-purple-500);
        padding-block: var(--spacing-500);
        padding-inline: var(--spacing-400);
        grid-area: social-media;

        h2 {
            text-align: center;
            color: var(--color-white);
            margin-block-end: var(--spacing-300);
            order: 0;

            span {
                color: var(--color-yellow-500);
            }
        }

        img {
            margin-block-end: var(--spacing-100);
            height: 32px;
            order: 1;
        }

        p {
            color: var(--color-white);
            order: 2;
        }
    }

    .accounts {
        background: var(--color-white);
        padding: var(--spacing-200);
        grid-area: accounts;

        img {
            margin-block-end: var(--spacing-200);
        }

        h2 {
            letter-spacing: -1.56px;
        }
    }

    .maintain {
        background: var(--color-yellow-500);
        padding: var(--spacing-200);
        gap: var(--spacing-200);
        justify-items: start;
        grid-area: maintain;

        img {
            order: 1;
            width: 208px;
            margin-block-end: -37px;
        }
    }

    .schedule {
        background: var(--color-purple-100);
        text-align: center;
        gap: var(--spacing-300);
        padding-block: var(--spacing-400);
        padding-inline: 17px;
        grid-area: schedule;

        h2 {
            order: 0;
        }
        img {
            order: 1;
        }

        p {
            order: 2;
        }
    }

    .grow {
        background: var(--color-purple-500);
        text-align: center;
        padding-block: var(--spacing-300);
        padding-inline: 58px;
        gap: var(--spacing-500);
        grid-area: grow;

        h2 {
            color: var(--color-white);
        }
    }

    .percent {
        background: var(--color-white);
        padding: var(--spacing-300);
        justify-items: start;
        grid-area: percent;

        h2 {
            margin-block-end: 15px;
        }
        img {
            order: 1;
            width: 179px;
        }

        p {
            margin-block-end: var(--spacing-300);
        }
    }

    .quicker {
        background: var(--color-yellow-100);
        padding: var(--spacing-400);
        gap: var(--spacing-300);
        justify-items: start;
        grid-area: quicker;

        h2 {
            em {
                color: var(--color-purple-500);
            }
        }

        img {
            width: 191px;
            order: 1;
        }
    }

    .write {
        background: var(--color-yellow-500);
        padding: var(--spacing-300);
        gap: var(--spacing-300);
        justify-items: start;
        grid-area: write;

        img {
            width: 220px;
            order: 1;
        }
    }
}

@media (min-width: 768px) {
    .container {
        min-width: 768px;
        padding-block: 52px;
        padding-inline: var(--spacing-500);
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "social-media social-media"
            "accounts maintain"
            "schedule schedule"
            "grow grow"
            "percent percent"
            "quicker write";
    }

    .items-1 h2 {
        font-size: 54px;
        line-height: 48px;
        letter-spacing: -2.16px;
    }

    .items-2 h2 {
        font-size: 28px;
        line-height: 26px;
        letter-spacing: -1.68px;
    }

    .items-3 h2 {
        font-size: 36px;
        line-height: 30px;
        letter-spacing: -2.16px;
    }

    .social-media {
        padding-block: 72px;
        padding-inline: 102px;
    }

    .accounts {
        padding: var(--spacing-300);
        padding-inline-end: 120px;

        h2 {
            margin-inline-end: 96px;
        }

        img {
            min-width: 316px;
        }
    }

    .maintain {
        padding: var(--spacing-300);
        padding-block-end: 0;

        img {
            margin-block-end: 0;
        }
    }

    .schedule {
        padding-inline: 165px;

        img {
            width: 357px;
        }
    }

    .grow {
        grid-auto-flow: column;
        align-items: center;
        text-align: start;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .percent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        img {
            grid-column: 2/3;
            grid-row: 1/3;
            justify-self: end;
        }

        p {
            margin-block-end: 0;
        }
    }

    .quicker {
        align-content: center;
    }

    .write {
        h2 {
            text-wrap: balance;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1130px;
        /* padding-block-start: 83px; */
        /* padding-block-end: 65px; */
        /* padding-inline: 160px; */
        padding: 0;
        /* padding-block: 65px; */
        /* padding-inline: auto; */
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-columns: auto; */
        grid-template-areas:
            "quicker social-media social-media schedule"
            "quicker accounts maintain schedule"
            "write  accounts maintain schedule"
            "write percent grow grow";
    }

    .items-1 h2 {
        font-size: var(--text-preset-1);
        line-height: 58px;
        letter-spacing: -3px;
    }

    .items-2 h2 {
        font-size: var(--text-preset-3);
        line-height: 28px;
        letter-spacing: -2px;
    }

    .items-3 h2 {
        font-size: var(--text-preset-2);
        line-height: 36px;
        letter-spacing: -2px;
    }

    .social-media {
        padding: var(--spacing-400);
    }

    .accounts {
        padding: var(--spacing-300);
    }
    .maintain {
        padding: var(--spacing-300);

        img {
            width: 100%;
            margin-block-end: -92px;
        }
    }

    .write {
        img {
            width: 100%;
        }
    }

    .grow {
        padding: var(--spacing-300);
        justify-content: space-between;
        gap: 12px;
    }

    .schedule {
        padding: var(--spacing-400);
        /* padding: var(--spacing-400) 0 var(--spacing-400) var(--spacing-400); */
        text-align: start;
        overflow: visible;
        /* position: relative; */

        img {
            /* width: 357px; */
            /* position: absolute; */
            max-width: none;
            width: 358px;
            /* transform: translateX(-50%); */
            margin-inline-end: -122px;
        }
    }

    .percent {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        align-content: start;

        img {
            margin-block-start: auto;
            grid-column: 1;
            grid-row: 3;
            width: 70%;
            justify-self: start;
        }
    }
}
